/* @import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Cantarell", sans-serif; */
  /* font-family: 'DM Sans', sans-serif; */
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  background: rgb(34, 102, 55);
  background: linear-gradient(
    90deg,
    rgb(30, 90, 49) 10%,
    rgb(221, 213, 213) 46%,
    rgba(186, 9, 9, 1) 75%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .............................NAVBAR .............................*/


nav {
  min-height: 10vh;
  display: flex;
  background-color: #ffffff;
}

.nav-link-container .nav-link{
    color: #ba0909 !important;
    font-size: 2rem !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.61) !important;

}
.nav-link-container .nav-link:hover{
    color: rgb(46, 126, 71) !important;

}
.dropdown-toggle{
    background-color: #ba090900 !important;
    border-color: #ba090900;
}
.btn-primary {
    color: #ba0909;
}
.btn-primary:hover {
    color: #000000;
    border-color: #ba090900;
}
.btn-primary:focus {
    color: #000000;
    border-color: #ba090900;
}
.btn-primary:active:focus {
    color: #000000;
    border-color: #ba090900;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    border-color: #ba090900;
    box-shadow: 0 0 0 .25rem #ba090900;
}
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem #ba090900;
}
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    border-color: #ba090900;
}

#logo-nav {
  width: 10vw;
}
.user-icon{
    width: 3.5rem;
    height:3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
}

.header-logo {
  width: 40vw;
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .navbar {
   width: 40vw; 
   min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
} */

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #ba0909;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}

/* .............................SEPARATOR SVGS .............................*/

.svg-bot {
  margin-top: -0.5rem;
  
}



.svg-top {
  margin-bottom: -0.5rem;
  
}

/*............................... HERO .............................*/
.hero {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hsyreservas{
  text-shadow: 4px 4px 2px rgb(0 0 0 / 60%);
}
.benvenuti-tittle {
  color: #ba0909;
  font-family: "Permanent Marker", cursive;
  text-shadow: 4px 4px 2px rgb(0 0 0 / 60%);
}

.hero-banner {
  /* width: 80vw; */
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-hero {
  width: 40vw;
}

.hero-content {
  width: 40vw;
  min-height: 25vh;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  /* background-color: #ba0909; */
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 7rem;
}

.restaurant-content {
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.096);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/restaurant.jpg);
  background-position: center;
  background-size: cover;
  /* margin-bottom: -6rem;
  margin-top: -6rem; */
}

/* ...................MAIN PAST........... */

.pasta-title {
  color: rgb(34, 102, 55);
  font-family: "Permanent Marker", cursive;
  padding-left: 1rem;

}

/* ...............MAIN CHEF.............. */

.chef-content {
  min-height: 90vh;
  background-color: rgba(2, 2, 2, 0.096);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/cheflour.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: -6rem;
  margin-top: -6rem;
}

#chef-pic {
  width: 20vw;
}



.chef-banner {
  flex-direction: column;
  width: 50vw;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre-chef {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-15deg);
}
.titulo-menu h1{
  letter-spacing: 12px !important;
}

.subtittle-brangi {
  width: 50vw;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 2rem;
}

/* ..................MAIN RESERVAS................... */

.reservas-content {
  min-height: 40vh;
  background-color: rgba(2, 2, 2, 0.096);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/brindis.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: -6rem;
  margin-top: -6rem;
}

.reservas-tittle{
  margin-top: 5rem;
  font-size: 5rem;
  color: #ba0909;
  text-align: center;
}

.reservas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservas-container h2{
  font-size: 4rem;
}

.reservas-container p{
  font-size: 2rem;
}

/* ................. FOOTER .......... */
footer {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ba0909;
}

.footer-container {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container div{
  margin: 0.5rem;
}
.redes {
  
  display: flex;
  flex-direction: column;
   
}
.redes div{
  
  margin: 0.5rem;
}
.redes div a{
  
  color:rgba(138, 61, 61, 0.637)
}

.icon-f{
  font-size: 2rem;
}

iframe {
  height: 20vh;
  width: 20vw;
  margin-left: 3rem; 
  border-radius: 3rem;
  padding-bottom: 1rem;
}

footer ul li {
  list-style: none;
}


/* ---------- -------- CARD MENU ---------- */

.card-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.card-menu {
  width: 50vw;
  /* border: 1px solid red; */
  border-radius: 5rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(2, 2, 2, 0.767);
  background-image: linear-gradient(rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.678)),
    url(./assets/fondomenu.png);
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
}

.title-menu-container {
  height: 15vh;
  width: 50vw;
  display: flex;
}

.logo-menu {
  width: 15vw;
}

.title-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.titulo-menu {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
    
}

.titulo-menu h1{
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.entradas {
  width: 50vw;
  min-height: 30vh;
  /* border: 1px solid blue; */
  margin-top: 4rem;
  
}

.entradas h4{
  font-size: 2rem;
  text-align: center;
}

.platos-entradas {
  width: 50vw;
  /* border: 1px solid green; */
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.plato-principal {
  width: 50vw;
  min-height: 30vh;
  /* border: 1px solid yellow; */
}

.plato-principal h4 {
  font-size: 2rem;
  text-align: center;
}

.postre {
  width: 50vw;
  min-height: 30vh;
  /* border: 1px solid orange; */
}

.postre h4 {
  font-size: 2rem;
  text-align: center;
}

.bebestible {
  width: 50vw;
  min-height: 30vh;
  /* border: 1px solid grey; */
}

.bebestible h4 {
  font-size: 2rem;
  text-align: center;
}

.card-food-container {
  margin-top: 1rem;
  /* border: 1px solid red; */
  border-radius: 5rem;
  width: 23vw;
  height: 27vh;
  background-color: #000000a6;
  box-shadow: 10px 10px 5px 0px rgba(28,28,28,0.88);
-webkit-box-shadow: 10px 10px 5px 0px rgba(28,28,28,0.88);
-moz-box-shadow: 10px 10px 5px 0px rgba(28,28,28,0.88);
}

.card-food-container h5{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-food-content {
  /* border: 1px solid yellow; */
  width: 13vw;
  padding: 1rem;
}

.food-content-container {
  display: flex;
}

.card-food-pic {
  width: 10vw;
  height: 20vh;
  border-radius: 5rem;
  background-size: cover;
  background-position: center;
}

.precios-menu {
  color: rgb(34, 102, 55);
  font-size: 1.7rem;
}

.slider-container {
  width: 35rem;
  
}

.slider-container-main {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ..................SOBRE NOSOTROS................... */


.tituloSobreNosotros{
  margin: 1rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}

.nuestraHistoria {  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ba090900;
  /* color: black; */
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  backdrop-filter: blur(5px);
  backdrop-filter: brightness(85%);
  letter-spacing: 0.1em;
  
}

.nuestroChef {  
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: #ba090900;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.418);
  flex-direction: column;
  backdrop-filter: blur(5px);
  backdrop-filter: brightness(85%);
  letter-spacing: 0.1em;
}
.nuestroChef h1{
  padding: 1rem;
  
}

.nuestraCocina {
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: #ba090900;
  flex-direction: column;
}

.internoNuestro {
  display: flex;
  padding: 0.5rem;
  width: 70%;
  margin:1rem;
}

.divImagenSobreNosotros{
  display: flex;
  width: 50%;
}

.divImagenSobreNosotros img{
  width: 100%;
  border-radius: 10px;
}

#imagenChef {
  height: 70% !important;
  padding: 1rem;
  align-self: flex-start;
}

.sobreNosotrosTexto{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.418);
  padding: 0.5rem;
}

.sobreNosotrosTexto p{
  font-family: 'DM Sans', sans-serif !important;
  color:#fafafa;
}

#textoChef{
  font-family: 'DM Sans', sans-serif !important;
  color:#fafafa;
}


@media (max-width: 1270px){

  .internoNuestro {
    display: flex;
    flex-direction: column !important;
    padding: 0.6rem;
    width: 100%;
    margin:0.5rem;
  
  }

  .sobreNosotrosTexto{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.418);
    padding: 0rem;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(40%) !important; 
  }
  
.sobreNosotrosTexto p{
  font-family: 'DM Sans', sans-serif !important;
  color:#fafafa;
}

#textoChef{
  font-family: 'DM Sans', sans-serif !important;
  color:#fafafa;
}
  .divImagenSobreNosotros{
    display: flex;
    width: 100%;
  }

}

/* ............⬆⬆⬆ SOBRE NOSOTROS ⬆⬆⬆...................... */



.signin-picture{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    background-image: url("https://images.unsplash.com/photo-1611765083444-a3ce30f1c885?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");

    height: 100%; 
}


@media (max-width: 991px){
    .nav-link-container .nav-link{

        font-size: 1.3rem !important;

    
    }
    #logo-nav{
        width: 5.5rem;
    }
}
/* ..................SIGN UP................... */

.signin-container{
  min-height: 50vh;
flex-direction: column;
}

.logoSignIn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.logoSignIn img{
  width: 50% !important;
}

.registrate {
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-sign {
  padding: 1rem 1.5rem !important;
  background-color: rgb(34, 102, 55);
  border-radius: 5rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
text-align: center;

}

.btn-sign:hover {
  transition: 1s;
  background-color: #ba0909;
}


/* ........... MAQUINA ESCRIBIR ................ */

.maquina-escribir-benvenuti {
  display: block;
  font-family: "Permanent Marker", cursive;
  white-space: nowrap;
  border-right: 4px solid;
  width: 9ch;
  
  animation: typing 2s steps(9), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0;}
}

@keyframes blink {
  50% { border-color: transparent;}
}



@media (max-width: 500px){
  .footer-integrantes {
    font-size: 0.5rem!important;
}
}

@media  (max-width: 768px) {
  .restaurant-content{   
    display: flex;
    justify-content: space-around;
   
  } 
  .main-text-hero{
    font-size: 1.2rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 3rem;
    line-height: 7rem;
    
  }
  
  .hero-content{
    width:100%;
    padding:0.5rem;
    font-size: 1rem;
  }

    .hero-banner{
      min-height: 30vh;
    }

  .hero{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .pasta-title{
    padding: 1rem;
    text-align: center;
    font-size: 2em!important;
   margin-top: 2rem;
  }

  .pasta-text{
    font-size: 1rem;
    
    text-align: center;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:none;
  }

  #logo-hero{
    width:70%;
    
  }
  #chef-pic{
    width:40%;
    margin-top:2rem!important;
  }

  #logo-hero1{
    width:70%;
   padding-bottom: 3rem;; 
  }
  .benvenuti-tittle, .nombre-chef{
    font-size: 2rem!important;
    text-align: center;
  }

  .subtittle-brangi h4{
    font-size: 1rem!important;
    padding:1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
 
 
  iframe {
    height: 20vh;
    width: 50vw;
     margin-left: 0rem;
    border-radius: 3rem;
    padding-bottom: 1rem;
  }

  .footer-integrantes{
    font-size: 1rem;
   
  }
  .icon-f{
    font-size: 1rem!important;
  }
  footer {
    background-color: #ffffff;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ba0909;
  }

  .footer-container{
    display: flex;
    justify-content: space-around;
  }
  .footer-integrantes{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
 /*MENU*/
  .card-menu{
    width:90vw;
  }
  .title-menu-container {
    height: 15vh;
    width: 90vw;
    display: flex;
    
  }
 

  .title-menu-container h1{
    font-size: 1.5rem!important;
  }
  .entradas{
    align-items: center;
    width:90vw;
  }

  #logo-nav{
    display: none;
  }

  .title-postres{
    text-align:center!important;
  }
  .slider-container-main {
    width: 90vw;
    display:flex;
    justify-content: center;
    
  }

  .slider-container{
    width:50%;
  }
  .platos-entradas{
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding:1rem;
  }
    .card-food-container {
      margin-top: 1rem;
      /* border: 1px solid red; */
      border-radius: 5rem;
      width: 100%;
      height: 30vh;
     
    }
  

  .card-food-content{
    font-size: 0.8rem;
    width: 50%;
  }


  .card-food-container {
    margin-top: 1rem;
    /* border: 1px solid red; */
    border-radius: 5rem;
    width: 80vw;
    height: 40vh;
  
  }

  .food-content-container {
    display: flex;
    justify-content: space-evenly;
  }

  .card-food-pic {
    width: 20vw;
    height: 20vh;
    border-radius: 5rem;
    background-size: cover;
    background-position: center;
  }
  .card-menu-container{
    padding:2rem;
  }
  .reservas-container{
    display: flex;    
    flex-direction: column;
    align-content: center;
   
    height: auto;
    
   
  }
  .reservas-container p {
    font-size: 1.2rem;
  }


  
}
/* ........... pagEVENTOS ................ */

.tituloEventos {
  text-align: center;
  text-shadow: 2px 2px rgba(92, 28, 28, 0.657) !important;
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(80%);
  margin-bottom: 0;
}

.contenedorEventos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  align-self: center !important;
  justify-content: center;
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(80%);
}

.contenedorLogoEventos {
  display: flex;
  justify-content: center;
  align-items: center;
  width:25%;
  margin-left:1rem;
}
.contenedorLogoEventos img{
    width: 100%;
  }

.contenedorDescripcionEventos {
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: justify;
  width: 40%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.486) !important;
  font-size: large;
  font-family: 'DM Sans', sans-serif !important;
  color:#fafafa;
}

.contenedorFormEventos {
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(80%);
  display: flex;
  justify-content: center;
}

.formEventos {
  width: 65%;
}
.formEventos h4{
  padding: 0.5rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.486) !important;
  text-decoration: underline  rgba(255, 0, 0, 0.02);
}


/* ........... ComentariosClientes ................ */


.containerCarousel {
  justify-self: center !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  background-image: url('../public/assets/bodyBackgroud.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  padding: 2rem;
  margin: 2rem 0 2rem 0;
}

.containerCarousel Carousel{
  width: 100% !important;
}

.cardComentarios {
  color: white !important;
  display: flex !important;
  background-color: #ba090900 !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  width: 100% !important;
  backdrop-filter: blur(5px);
  backdrop-filter: brightness(55%);
}

.imagenUserComentarios {
  width:100px !important;
  height:100px;
  border-radius: 50% !important;
  padding: 1rem;
}

.comentarioUsuario {
  padding: 1rem;
 width: 80%;
 letter-spacing: 0.1em;
}

